<!DOCTYPE html>
<html xml:lang="ja" lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0"
    />
    <title><%= title %></title>
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="description"
      content=<%= description %>
    />
    <meta
      name="keywords"
      content="樋口税理士事務所,税理士,税務,会社,経営計画書,経営計画,月次決算書,決算書,インターネット会計,新規開業,起業,記帳代行,福岡 "
    />
    <meta name="robots" content="index,follow" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/megamenu.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="js/wideslider.js"></script>
    <link rel="stylesheet" type="text/css" href="css/wideslider.css" />
    <script type="text/javascript" src="js/google.js"></script>
    <script src="js/rollover.js"></script>
    <script src="js/megamenu.js"></script>
    <script type="text/javascript">
      $(function () {
        $(window).on("scroll", function () {
          if ($(this).scrollTop() > 300) {
            $("nav").addClass("fixed gmnu-aki");
          } else {
            $("nav").removeClass("fixed gmnu-aki");
          }
        });
      });
    </script>
    <!--背景スライドショー-->
    <script src="js/jquery.bgswitcher.js"></script>
    <script>
      jQuery(function ($) {
        $(".bg-slider").bgSwitcher({
          images: ["img/slide8.jpg", "img/slide2.jpg", "img/slide3.jpg"], // 切り替える背景画像を指定
        });
      });
    </script>
    <!--スクロール移動-->
    <script src="js/scroll.js"></script>
    <script type="text/javascript">
      $(function () {
        $("a[href^=#]").click(function () {
          var speed = 500;
          var href = $(this).attr("href");
          var target = $(href == "#" || href == "" ? "html" : href);
          var position = target.offset().top;
          $("html, body").animate({ scrollTop: position }, speed, "swing");
          return false;
        });
      });
    </script>
    <!--WEBフォント・NotoSansJP-->
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap"
      rel="stylesheet"
    />
  </head>
