<body>
  <a id="top" name="#top"></a>
  <!--ヘッダー-->
  <header>
    <section class="sec-h1">
      <h1>
        福岡 糟屋郡の樋口税理士事務所・ゆとり会計トータルマネジメント |
        経営相談 新規開業 起業支援
      </h1>
    </section>

    <div class="logo_title">
      <a href="index.html"
        ><img src="img/title1.gif" alt="樋口税理士事務所"
      /></a>
      <img
        src="img/title2.gif"
        alt="有限会社ゆとり会計トータルマネジメント"
      />
      <img src="img/iso9001-head.gif" alt="ISO9001認証取得" />
    </div>

    <ul class="head_tel">
      <a href="tel:0929393439"
        ><img src="img/top-tel.jpg" alt="電話番号" style="margin-top: 28px"
      /></a>
    </ul>
  </header>
  <!--ヘッダー-->

  <!--グローバルメニュー-->
  <nav class="menu" id="gloval">
    <p class="top_rtn">
      <a href="index.html">樋口税理士事務所 MENU</a
      ><a href="tel:0929393439"><img src="img/icon-htel.png" /></a>
    </p>
    <ul>
      <li>
        <a href="index.html"
          ><img src="img/gmenu_off_r2_c2.png" alt="ホーム"
        /></a>
      </li>

      <li class="menu-dropdown-icon">
        <img src="img/gmenu_off_r2_c6.png" alt="事務所のご案内" /><span
          >事務所のご案内</span
        >

        <ul class="g1">
          <li>
            <a href="greeting.html"
              ><img src="img/menup1.jpg" alt="ごあいさつ" />ごあいさつ</a
            >
          </li>
          <li>
            <a href="gaiyo.html"
              ><img src="img/menup2.jpg" alt="事務所概要" />事務所概要</a
            >
          </li>
          <li>
            <a href="information.html"
              ><img src="img/menup3.jpg" alt="業務案内" />業務案内</a
            >
          </li>
        </ul>
      </li>

      <li class="menu-dropdown-icon">
        <img src="img/gmenu_off_r2_c8.png" alt="業務サービス" /><span
          >業務サービス</span
        >

        <ul class="g2">
          <li>
            <a href="kessan.html"
              ><img src="img/menup4.jpg" alt="決算診断" />決算診断</a
            >
          </li>
          <li>
            <a href="keieiryoku.html"
              ><img src="img/menup5.jpg" alt="経営力評価" />経営力評価</a
            >
          </li>
          <li>
            <a href="keikaku.html"
              ><img src="img/menup6.jpg" alt="経営計画" />経営計画</a
            >
          </li>
          <li>
            <a href="shinki.html"
              ><img
                src="img/menup7.jpg"
                alt="新規開業・起業支援"
              />新規開業・起業支援</a
            >
          </li>
          <li>
            <a href="johoshien.html"
              ><img
                src="img/menup8.jpg"
                alt="情報支援サービス"
              />情報支援サービス</a
            >
          </li>
          <li>
            <a href="sogoshien.html"
              ><img
                src="img/menup9.jpg"
                alt="経営総合支援サイト"
              />経営総合支援サイト</a
            >
          </li>
          <li>
            <a href="jigyosyokei.html"
              ><img src="img/menup10.jpg" alt="事業承継" />事業承継</a
            >
          </li>
          <li>
            <a href="etc.html"
              ><img
                src="img/menup11.jpg"
                alt="その他各種業務"
              />その他各種業務</a
            >
          </li>
        </ul>
      </li>

      <li class="menu-dropdown-icon">
        <img src="img/gmenu_off_r2_c10.png" /><span>ご相談について</span>

        <ul class="g3">
          <li>
            <a href="soudan.html"
              ><img src="img/menup12.jpg" alt="ご相談の流れ" />ご相談の流れ</a
            >
          </li>
          <li>
            <a href="qa.html"
              ><img
                src="img/menup13.jpg"
                alt="よくあるご質問"
              />よくあるご質問</a
            >
          </li>
          <li>
            <a href="voice.html"
              ><img src="img/menup14.jpg" alt="お客様の声" />お客様の声</a
            >
          </li>
        </ul>
      </li>

      <li class="menu-dropdown-icon">
        <a href="access.html"
          ><img src="img/gmenu_off_r2_c12.png" alt="交通アクセス" /><span
            >交通アクセス</span
          ></a
        >
      </li>

      <li class="menu-dropdown-icon">
        <%- include('topicsUrl') %>
          <img src="img/gmenu_off_r2_c14.png" alt="今週のトピックス" />
          <span>今週のトピックス</span>
        </a>
      </li>

      <li class="menu-dropdown-icon">
        <a href="contact.html"
          ><img src="img/gmenu_off_r2_c16.png" alt="お問い合わせ" /><span
            >お問い合わせ</span
          ></a
        >
      </li>
    </ul>
  </nav>
  <!--/グローバルメニュー-->
