        <!--今週のトピックス-->
        <p class="tright-ti">
          <img src="img/top-topics.gif" alt="今週のトピックス" />
        </p>
        <p class="tpx-number">第427号<span>（2023.05.09公開）</span></p>
        <ul>
          <li>財務省、23年度賃上げ動向調査「ベア」を行う企業は６割超に</li>
          <li>インボイス登録要否相談会開催 免税事業者対象に事前予約制で</li>
        </ul>
        <p class="tpx-watch">
          <% include('topicsUrl') %>
          <img src="img/topbtn_off_r4_c1.jpg" alt="トピックスを見る"/>
        </a>
        </p>
