<%- include('components/head',
{
  title:'福岡の税理士 樋口税理士事務所・ゆとり会計トータルマネジメント',
  description:'福岡で税理士をお探しなら、樋口税理士事務所にお任せください。インターネット会計で早期の月次決算書作成。簿記の知識がなくても大丈夫です。経営計画書作成で会社の夢を実現しませんか。記帳代行・その他税務に関する相談等、お気軽にご相談くださいませ。'
}
)%>
<%- include('components/header') %>
    <!--スライドエリアここから-->
    <div class="bg-slider">
      <div class="bg-slider__title">
        <img src="img/title-sasikae.png" alt="5年後の会社の成長を共に考える" />
      </div>
    </div>
    <!--/スライドエリアここまで-->

    <!--トップページコンテンツ-->

    <!--冒頭文-->
    <div class="t-cont">
      <section class="boto-bun2">
        <h2>
          会社の夢を実現するための<br />
          経営計画書を作りませんか？
        </h2>
        <p>
          <span>計画性を持つ</span>、それが優良企業への第一歩です。<br />
          計画を立てれば、目標が明確になります。そうすることで、日々漠然と業務に従事しているだけの会社とは、数年後に大きな差が生じます。<span>成長する会社は、道しるべとなる経営計画を立てて未来像を明確</span>にし、社員の意識統一のもと、会社の夢の実現のために行動しているのです。<br />
          樋口税理士事務所は、会社経営に有益な経営計画書・月次決算書作成の万全なフォローをお約束します。そして、<span>「税理士とは税務・会計の専門的知識をもったサービス業」</span>であることをモットーとし、会社の発展を願うお客様の良き相談相手となることを目指しています。
        </p>
      </section>
    </div>
    <!--/冒頭文-->

    <!--選ばれる理由-->
    <section class="s-reason">
      <img
        src="img/top-readti.png"
        alt="樋口税理士事務所が選ばれる理由とは？"
        class="read-ti"
      />

      <div class="reason-box">
        <div class="clearfix">
          <img src="img/reason-photo1.png" class="box-img" />
          <img src="img/tread2-sbti1.gif" alt="事業承継士の資格を保有" />
          <p>
            事業承継士とは「社長個人の相続」と「会社の事業承継」の両方の分野を融合させたものであり、単なる相続対策、節税対策だけにとどまらず、会社の理念/儲かる仕組み/企業文化をどのように
            継がせるかをアドバイスできる唯一の資格です。
          </p>
          <ul>
            <li>
              <a href="http://www.jigyousyoukei.co.jp/" target="_blank"
                ><img
                  src="img/tread2-sbti1tema1.jpg"
                  alt="事業承継センターへのホームページへ"
              /></a>
            </li>
            <li>
              <a href="http://www.shoukei.or.jp/" target="_blank"
                ><img
                  src="img/tread2-sbti1tema2.jpg"
                  alt="事業承継協会へのホームページへ"
              /></a>
            </li>
          </ul>
        </div>

        <div class="clearfix">
          <img src="img/reason-photo2.png" class="box-img" />
          <img src="img/tread2-sbti2.gif" alt="「経営革新等支援機関」認定" />
          <p>
            認定制度は、税務・金融・企業財務に関する専門的知識や支援に係る実務経験が一定レベル以上の個人、法人、中小起業支援機関等を支援機関として認定することで、中小企業に対して専門性の高い支援を行うための体制を整備するものです。
          </p>
          <ul>
            <li>
              <a
                href="http://www.chusho.meti.go.jp/keiei/kakushin/nintei/2012/download/1106Nintei_Kikan.pdf"
                target="_blank"
                ><img
                  src="img/tread2-sbti2tema1.jpg"
                  alt="経営革新等支援機関認定制度とは"
              /></a>
            </li>
            <li>
              <a
                href="http://www.chusho.meti.go.jp/keiei/kakushin/nintei/"
                target="_blank"
                ><img src="img/tread2-sbti2tema2.jpg" alt="認定機関一覧"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!--/選ばれる理由-->

    <!--取扱い業務サービス-->

    <div class="gyomu-title">
      <img src="img/top-read3.jpg" alt="取扱い業務サービス" /><br />
      <img src="img/top-service.png" alt="service" />
    </div>

    <div class="s-number">
      <div>
        <a href="kessan.html"
          ><img src="img/topbtn_off_r1_c1.jpg" alt="決算診断"
        /></a>
        <span
          >会社の現況を解析し、<br />
          強み・弱みを的確に把握</span
        >
        <p>
          決算書を誰でも理解できるように点数化。「決算書を生きたデータとして使いたい」という希望をかなえます。
        </p>
      </div>

      <div>
        <a href="keieiryoku.html"
          ><img src="img/topbtn_off_r1_c2.jpg" alt="経営力評価"
        /></a>
        <span
          >経社者を8要素で判断。<br />
          改善すべき問題を明確に。</span
        >
        <p>
          数字では現れない経営者の「意識・行動」を分析。常に自己分析を行うことにより、改善すべき問題を明確にします。
        </p>
      </div>

      <div>
        <a href="keikaku.html"
          ><img src="img/topbtn_off_r1_c5.jpg" alt="経営計画"
        /></a>
        <span
          >経営課題解決のための<br />
          道筋を完全サポート</span
        >
        <p>
          現状分析で自社の強みを生かした策定が可能。資金繰りシュミレーションから借入返済計画まで簡単に作成できます。
        </p>
      </div>

      <div>
        <a href="shinki.html"
          ><img src="img/topbtn_off_r2_c1.jpg" alt="新規開業・起業支援"
        /></a>
        <span
          >開業に関する問題に対し、<br />
          全面的に支援・サポート</span
        >
        <p>
          開業したい方、または開業したての方にスムーズなスタートダッシュを切るためのノウハウを伝授。
        </p>
      </div>

      <div>
        <a href="johoshien.html"
          ><img src="img/topbtn_off_r2_c2.jpg" alt="情報支援サービス"
        /></a>
        <span
          >最新の税務情報を保持し、<br />
          経営の原動力に</span
        >
        <p>
          経営に活用できる最新の税務情報を、メールや会報誌などでお知らせします。
        </p>
      </div>

      <div>
        <a href="jigyosyokei.html"
          ><img src="img/topbtn_off_r2_c5.jpg" alt="事業承継支援"
        /></a>
        <span
          >経営課題解決のための<br />
          道筋を完全サポート</span
        >
        <p>
          現状分析で自社の強みを生かした策定が可能。資金繰りシュミレーションから借入返済計画まで簡単に作成できます。
        </p>
      </div>

      <div>
        <a href="sogoshien.html"
          ><img src="img/topbtn_off_r3_c1.jpg" alt="経営総合支援サイト"
        /></a>
        <p>
          決算書を誰でも理解できるように点数化。「決算書を生きたデータとして使いたい」という希望をかなえます。
        </p>
      </div>

      <div>
        <a href="etc.html"
          ><img src="img/topbtn_off_r3_c4.jpg" alt="相続申告、労務関連ほか"
        /></a>
        <p>
          相続税を含む税務申告・相談及びその他記帳代行、給与計算を行っております。その他の業務もお気軽にご相談ください。
        </p>
      </div>

      <div>
        <a href="https://www.ejinzai.jp/account/" target="_blank"
          ><img src="img/topbtn_off_r6_c2.jpg" alt="E-jinzai"
        /></a>
        <p>
          当事務所は税理士の育成を支援する「e-JINZAI」の会員です。研修やセミナー等、様々な支援ツールを揃えています。
        </p>
      </div>
    </div>

    <!--/取扱い業務サービス-->

    <div class="t2">
      <!--トップページ・ライトカラム-->
      <div class="t-right">
      <% include('components/IndexThisweekTopics') %>
      <% include('components/IndexNews.ejs') %>
      </div>
      <!--/トップページ・ライトカラム-->

      <!--トップページ・レフトカラム-->

      <div class="t-left">
        <div class="t-l1">
          <a href="contact.html"
            ><img src="img/top-tel2.jpg" class="お問い合わせ先"
          /></a>
          <img src="img/top-iso9001.jpg" alt="ISO9001取得" />
        </div>

        <div class="t-l2">
          <img src="img/top-calender.jpg" alt="税務情報カレンダー" />
          <div id="info3">
            <div>2023年6月</div>
            <dl>
              <dt>6月12日</dt>
              <dd>
                <ul>
                  <li>
                    5月分源泉所得税・住民税の特別徴収税額・納期の特例を受けている者の住民税の特別徴収税額(前年12月～当年5月分)の納付
                  </li>
                </ul>
              </dd>

              <dt>6月15日</dt>
              <dd>
                <ul>
                  <li>所得税の予定納税額の通知</li>
                </ul>
              </dd>

              <dt>6月30日</dt>
              <dd>
                <ul>
                  <li>
                    4月決算法人の確定申告（法人税・消費税・地方消費税・法人事業税・（法人事業所税）・法人住民税）
                  </li>
                  <li>
                    １月、４月、７月、１０月決算法人の３月ごとの期間短縮に係る確定申告（消費税・地方消費税）
                  </li>
                  <li>
                    法人・個人事業者の1月ごとの期間短縮に係る確定申告（消費税・地方消費税）
                  </li>
                  <li>
                    10月決算法人の中間申告（法人税・消費税・地方消費税・法人事業税・法人住民税）（半期分）
                  </li>
                  <li>
                    消費税の年税額が400万円超の1月、7月、10月決算法人の3月ごとの中間申告（消費税・地方消費税）
                  </li>
                  <li>
                    消費税の年税額が4,800万円超の3月、4月決算法人を除く法人・個人事業者の1月ごとの中間申告（2月決算法人は2か月分）（消費税・地方消費税）
                  </li>
                </ul>
              </dd>

              <dt>
                6月、8月、10月及び1月中（均等割のみを課する場合にあっては6月中）において市町村の条例で定める日
              </dt>
              <dd>
                <ul>
                  <li>個人の道府県民税及び市町村民税の納付（第1期分）</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <div>2023年7月</div>
              <dt>7月10日</dt>
              <dd>
                <ul>
                  <li>
                    6月分源泉所得税・住民税の特別徴収税額の納付（年2回納付の特例適用者は1月から6月までの徴収分を7月10日までに納付）
                  </li>
                </ul>
              </dd>

              <dt>7月18日</dt>
              <dd>
                <ul>
                  <li>所得税の予定納税額の減額申請</li>
                </ul>
              </dd>

              <dt>7月31日</dt>
              <dd>
                <ul>
                  <li>所得税の予定納税額の納付（第1期分）</li>
                  <li>
                    5月決算法人の確定申告（法人税・消費税・地方消費税・法人事業税・（法人事業所税）・法人住民税）
                  </li>
                  <li>
                    ２月、５月、８月、１１月決算法人の３月ごとの期間短縮に係る確定申告（消費税・地方消費税）
                  </li>
                  <li>
                    法人・個人事業者の1月ごとの期間短縮に係る確定申告（消費税・地方消費税）
                  </li>
                  <li>
                    11月決算法人の中間申告（法人税・消費税・地方消費税・法人事業税・法人住民税）（半期分）
                  </li>
                  <li>
                    消費税の年税額が400万円超の2月、8月、11月決算法人の3月ごとの中間申告（消費税・地方消費税）
                  </li>
                  <li>
                    消費税の年税額が4,800万円超の4月、5月決算法人を除く法人・個人事業者の1月ごとの中間申告（3月決算法人は2か月分）（消費税・地方消費税）
                  </li>
                </ul>
              </dd>

              <dt>7月中において市町村の条例で定める日</dt>
              <dd>
                <ul>
                  <li>固定資産税（都市計画税）の第2期分の納付</li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <!--/トップページ・レフトカラム-->
    <!--/トップページコンテンツ-->

    <!--フッター-->
    <div class="f-tline"></div>
    <footer>
      <div class="f-area">
        <p class="f-title1">
          <img
            src="img/fotter-title.png"
            alt="樋口税理士事務所・有限会社ゆとり会計トータルマネジメント"
          />
        </p>
        <p class="f-title2">
          <img src="img/footer-jusyo.png" />
        </p>

        <figure>
          <img src="img/footer-photo.jpg" alt="樋口税理士事務所 外観" />
        </figure>

        <div class="fli-area">
          <ul class="clearfix">
            <li><a href="index.html">ホーム</a></li>
          </ul>

          <ul class="clearfix">
            <li>事務所のご案内</li>
            <li><a href="greeting.html">ごあいさつ</a></li>
            <li><a href="gaiyo.html">事務所概要</a></li>
            <li><a href="information.html">業務案内</a></li>
          </ul>

          <ul class="clearfix">
            <li>業務サービス</li>
            <li><a href="kessan.html">決算診断</a></li>
            <li><a href="keieiryoku.html">経営力評価</a></li>
            <li><a href="keikaku.html">経営計画</a></li>
            <li><a href="shinki.html">新規開業・起業支援</a></li>
            <li><a href="johoshien.html">情報支援サービス</a></li>
            <li><a href="sogoshien.html">経営総合支援サイト</a></li>
            <li><a href="jigyosyokei.html">事業承継支援</a></li>
            <li><a href="etc.html">その他各種業務</a></li>
          </ul>

          <ul class="clearfix">
            <li>ご相談について</li>
            <li><a href="soudan.html">ご相談の流れ</a></li>
            <li><a href="qa.html">よくあるご質問</a></li>
            <li><a href="voice.html">お客様の声</a></li>
          </ul>

          <ul class="clearfix">
            <li><a href="access.html">交通アクセス</a></li>
            <li><a href="topi_20180724.html">トピックス</a></li>
            <li><a href="contact.html">お問い合わせ</a></li>
            <li><a href="calender.html">税務情報カレンダー</a></li>
            <li><a href="sitemap.html">サイトマップ</a></li>
            <li><a href="pp.html">プライバシーポリシー</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!--/フッター-->
    <div class="okuduke-area">
      ©Copyright2018 Higuchi tax accountant office All rights reserved.
    </div>
  </body>
</html>
